<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
</head>
<body>
    <footer class="w3-container w3-green w3-margin-top" th:fragment="rodape">
        <div class="w3-third">
            <p>&copy;2021 - Todos direitos reservados.</p>
        </div>
        <div class="w3-third">
            <h5>TCC - Agenda de especialistas online.</h5>
        </div>
        <div class="w3-third">
            <p>Santos - SP - Brasil</p>
        </div>
    </footer>
</body>
</html>