<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Agendamento confirmado</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
		<h1>
			TCC - Agendamento Online:  <!--  <span th:text="${agenda.id}"> </span>  -->
		</h1>
		<p>
			<b>Agendado para: </b><span
				th:text="${#temporals.format(agenda.dataDisponivel, 'dd/MM/yyyy')} "></span>
		</p>	
		<p>
			<b>Horário: </b><span
				th:text="${agenda.hora.hora}"></span>
		</p>	
		<p>
			<b>Paciente: </b><span th:text="${agenda.usuario.nome}"></span>
		</p>
		<h3>Detalhes do agendamento:</h3>
		<p>
			<b>Tipo: </b><span th:text="${agenda.tipoConsulta.tipoConsulta}"></span>
		</p>
		<p>
			<b>Especialidade: </b><span th:text="${agenda.especialidade.nome}"></span>
		</p>
		<p>
			<b>Médico: </b><span th:text="${agenda.medico.nome}"></span>
		</p>
	
		<p>
			<b>Solicitado em: </b><span
				th:text="${#dates.format(agenda.dataCadastro)} "></span>
		</p>	
	</div>
</body>
</html>